



/* --------------------------------
logo
--------------------------------- */
.site-logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    
}

/* --------------------------------
forms styles 
--------------------------------- */
@media screen and (min-width: 600px) {
   .form-container {
       border: 1px solid lightgrey; 
       border-radius: 5px;
       max-width: 408px;
       margin: 0 auto;
       padding: 20px 50px 50px;
   }
}

.form-label {
    display: block;
    padding: 8px 0;
    font-weight: bold;
}

.form-label span {
    color: red;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-button {
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid transparent;
    background: lightgrey;
    margin-right: 10px;
    margin-top: 5px;
}

.form-button:hover {
    background: lightblue;
}



/* --------------------------------
menu experiment
--------------------------------- */
.dropdown {
    list-style-type: none;
    font-family: sans-serif;
    background: lightblue;
    margin: 0;
    padding: 0;
}

.dropdown a {
    text-decoration: none;
 
}

.dropdown a:hover {
    background: lightcoral;
    display: block;
}

.dropdown-content li a {
    text-decoration: none;

}

