body {
    font-family: sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

* {margin: 0;}

/* --------------------------------
header styles
--------------------------------- */
    header {
        background: lightgray;
        padding: 0px 15px;
    }



/* --------------------------------
logo
--------------------------------- */
.site-logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    
}


/* --------------------------------
menu navigation
--------------------------------- */


.main-menu, .submenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}   

.main-menu li a {
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
}



.has-children {
    position: relative;
}

.submenu {
    background: #F3f3f3;
    position: absolute;
    display: none;
    width: 100%;  /* unset on large screens */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.submenu li a {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
}

.submenu li a:hover {
    background:#ddd;
}

/* this shows the submenu on hover using the JS code */
.showSubmenu {
    display: block;
}


/* --------------------------------
header styles on large screens 
--------------------------------- */
@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-menu {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}



/* --------------------------------
hero image
--------------------------------- */
.hero-image {
    width: 100vw;
    height: 100vh;
    max-width: 100%; /* fixes width overflow */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/alex-knight-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.hero-text {
    color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 1.8em;
    margin: 0 0 0.5em;
}

.hero-text p {
    font-size: 1.2em;
}


.hero-text a {
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-top: 1.5em;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #ddd;
    width: 120px;
    text-align: center;
}


.hero-text a:hover {
    background: darkcyan;
    border: 1px solid darkcyan;
    transition: 0.4s;
}

@media screen and (min-width: 650px) {
    .hero-text {
        top: 40%;
        left: 7%;
        transform: none;
    }

    .hero-text h1 {
        font-size: 2.5em;
        margin: 0 0 0.5em;
    }

    .hero-text p {
        font-size: 1.2em;
    }
}





/* --------------------------------
about me styles 
--------------------------------- */
    .about-me{
        background: lightgray;
        padding: 2em 2em;
    }

    .about-me article {
        margin: 1.5em 0;
    }

    .about-me article h2, h3, p {
        margin: .5em 0;
    }


    




/* --------------------------------
forms styles 
--------------------------------- */
.contact-me { 
    padding: 2em;
}


@media screen and (min-width: 600px) {
   .form-container {
       border: 1px solid lightgrey; 
       border-radius: 5px;
       max-width: 408px;
       margin: 0 auto;
       padding: 20px 50px 50px;
   }
}

.form-label {
    display: block;
    padding: 8px 0;
    font-weight: bold;
}

.form-label span {
    color: red;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-button {
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid transparent;
    background: lightgrey;
    margin-right: 10px;
    margin-top: 5px;
}

.form-button:hover {
    background: lightblue;
}



/* --------------------------------
menu experiment
--------------------------------- */
.dropdown {
    list-style-type: none;
    font-family: sans-serif;
    background: lightblue;
    margin: 0;
    padding: 0;
}

.dropdown a {
    text-decoration: none;
 
}

.dropdown a:hover {
    background: lightcoral;
    display: block;
}

.dropdown-content li a {
    text-decoration: none;

}

