body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

h1, h2, h4, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.site-title {
    text-align: center;
    background:lightgrey;
    padding: 20px 0;
    margin: 0;
    color: #204051;
}


.header-navigation li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em 1.6em;
}

.header-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #204051;
}


.header-navigation a:hover {
    background: rgba(196, 196, 196, 70%);
    color: #204051;
}

.header-navigation :active {
    background: rgba(196, 196, 196, 70%);
    color: #204051;
}


/* NAVIGATION STYLES */
.main-navigation {
    background: #e4e3e3;
    padding: 20px 0;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.main-navigation a {
    text-decoration: none;
    padding: 1em 1.6em;
    display: block;
}

.main-navigation a:hover {
    background: #dfd3c3;
    color: #204051;
}

.main-navigation h3 {
    padding-left: 1em;
    color: #204051;
}

.main-navigation .sub-menu {
    padding-left: 2em;
}


/* SIDEBAR STYLES */
.sidebar {
    padding: 2em;
    background: #e4e3e3;
}


/* MAIN CONTENT STYLES */
article {
    background: #fff;
    margin: 0;
    padding: 3em 40px;
}


/* FOOTER STYLES */

.footer-main {
    padding: 1.2em;
    background: #204051;
    color: whitesmoke;
}

.footer-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.footer-list ul li a {
    text-decoration: none;
    color: #84a9ac;
}

.footer-list ul li a:hover {
    color: white;
}

.footer-list ul li {
    padding: .5em 0;
    font-weight: lighter;
}


.footer-wrapper3 {
    color: #84a9ac;
}

.footer-wrapper4 {
    color: #3b6978;
    text-transform: uppercase;
}

.footer-wrapper4 span {
    font-family: Brush Script Mt;
    font-size: 2em;
    text-transform: none;
}

.footer-wrapper4 span:hover {
    color: whitesmoke;
}

/* form styles */ 
.form-input {
    padding : 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: thin solid #dfd3c3;
}

.form-button {
    width: inherit;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: rgba(59, 105, 120, 35%);
    color: #444444;
    font-weight: bold;
}

.form-button:hover {
    background: #3b6978;
    color: white;
}


/* breakponts applied using floats and position 
------------------------------------------ */
@media screen and (min-width: 700px) {
    .header-navigation ul {
        float: right;
        background: #204051;
        width: 100%;
    }

    .header-navigation ul li a {
        background: #204051;
        float: left; 
                     
    }


    .main-navigation {
        clear: both;
        float: left;
        width: 25%;
    }   
    
    article {
        float: left;         
        width: 60%;
        
    }

    .sidebar {
        clear: both;
    }  

/* footer styles  */
    .footer-main {
        position: relative;
    }

    .footer-wrapper3 {
        position: absolute;
        top: 50px;
        left: 40%;
        right: 30px;
    }
}      


@media screen and (min-width: 900px) {
    .sidebar {
        clear: none;
        float: right;
        width: 18%;
    }

    .footer-main {
        clear: both;
    }

    .main-navigation {
        width: 17%;
    }

    article {
        width: 50%;
    }


    /* footer styles  */

    .fotter-wrapper1 {
        padding-left: 50px;
    }

    .footer-wrapper2 {
        position: absolute;
        left: 25%;
        top: 20px;
    }

    .footer-wrapper5 {
        position: absolute;
        left: 50%;
        top: 20px;
    }

    .footer-wrapper3 {
        left: 70%;
        top: 20px;
        right: 50px;
    }

    .footer-wrapper4 {
        text-align: center;
    }
}








