/* general page styles 
----------------------------- */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

h1, h2, h4, h4, h5 {
    font-family: Garamond, Baskerville, serif;
}

.site-title {
    background: #e0dede;
    text-align: center;
    padding: 50px 0;
    color: #3c096c;
}

.header-navigation {
    background: burlywood;
}

.header-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #6a197d;
    
  }

.header-navigation ul a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    color: white;
}

.header-navigation ul a:hover{
    background: #ffa5b0;
    color: #204051;
}

.header-navigation :active {
    background: lightgrey;
    color: #204051;
}



/* footer styles 
----------------------------- */
.footer-main {
    padding: 1.2em;
    background: #3c096c;
    color: whitesmoke;
}

.footer-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.footer-list ul li a {
    text-decoration: none;
    color: lightgrey;
}

.footer-list ul li a:hover {
    color: white;
}

.footer-list ul li {
    padding: .5em 0;
    font-weight: lighter;
}


.footer-wrapper3 {
    color: lightgrey;
}

.footer-wrapper4 {
    color: grey;
    text-transform: uppercase;
}

.footer-wrapper4 span {
    font-family: Brush Script Mt;
    font-size: 1.8em;
    text-transform: none;
}

.footer-wrapper4 span:hover {
    color: whitesmoke;
}


.menu-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 200px;
}



/* general menu styles for all menu's
----------------------------- */
section h3 {
    margin-top: 100px;
    padding-left: 20px;
    color: #3c096c;
}


.menu ul {
    background: #3c096c;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.menu ul a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    color: white;
}

.menu ul a:hover {
    background: #c77dff;
    color: #000;
}


.multi-level-nav ul ul {
    background: #6a197d;
}


/* header menu style using float
----------------------------- */
@media screen and (min-width: 650px) {
    .header-navigation ul li a{
        float: left;
    }
    
    .header-navigation ul {
        background: #6a197d;
        float: right;
        width: 100%;
        
    }
}


/* Simple menu style using float
----------------------------- */
@media screen and (min-width: 650px) {
    .simple-menu ul li a {
        float: left;
    }
    
    .simple-menu ul {
        float: right;
        width: 100%;
    }
}


/* Advance menu style using float
------------------------------------ */
.menu-icon {
    font-size: 1.8em;
    padding-right: 0.5em;
}


.button-text {
    font-size: 1.8em;
}

.button-text span {
    font-size: 40%;
    display: block;
    font-style: italic;
}

.advance-menu ul li a{
    display: flex;
 
} 

/* align advance menu horizontally using float*/
@media screen and (min-width: 650px) {
    .advance-menu ul li {
        float: left;
    }

    .advance-menu ul {
        float: left;
        width: 100%;
    }

    .advance-menu {
        margin-bottom: 15em;
    }

}




/* social menu styles
The accesiblity link in the head hides the text
The nav-social link in the head displays the fontawesome icons 
------------------------------------ */
@media screen and (min-width: 650px) {
        .socials {
            clear: both;
        }

         .social1 ul li a {
             float: right;
        }

        .social1 ul {
            float: left;
            width: 100%;
        }

        .social2 ul li a{
            float: left;
        }

        .social2 ul {
            float: left;
            width: 100%;
        }
    }



/* multi level menu styles
The accesiblity link in the head hides the toggle text
The nav-multi-level link in the head contains the base styling for the menus
The two scripts below the body contains javascipts code that toggles the menu
--------------------------------------------------- */

@media screen and (min-width: 650px) {
    .multi-level-nav ul li a{
        float: left;
    }

    .multi-level-nav ul {
        width: 100%;
        float: right;
    }

    .multi-level-nav ul li ul li a {
        clear: both;
        display: inline;
     }

     .multi-level-nav ul li ul {
            width: auto;
            clear: both;
   }
}



/* mixed menu styles
combination of two different menu's
---------------------------------------*/
@media screen and (min-width: 650px) {
    .mixed-menu-wrapper nav ul {
        float: right;
        background: #3c096c;
    }
}

/* breakponts applied to footer 
using floats and position 
------------------------------------------ */
@media screen and (min-width: 700px) {
  
    .footer-main {
        position: relative;
    }

    .footer-wrapper3 {
        position: absolute;
        top: 50px;
        left: 40%;
        right: 30px;
    }
}      

@media screen and (min-width: 900px) {
     .footer-main {
        clear: both;
    }

    .fotter-wrapper1 {
        padding-left: 50px;
    }

    .footer-wrapper2 {
        position: absolute;
        left: 25%;
        top: 20px;
    }

    .footer-wrapper5 {
        position: absolute;
        left: 50%;
        top: 20px;
    }

    .footer-wrapper3 {
        left: 70%;
        top: 20px;
        right: 50px;
    }

    .footer-wrapper4 {
        text-align: center;
    }
}