/* general page styles 
----------------------------- */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

h1, h2, h4, h4, h5 {
    font-family: Garamond, Baskerville, serif;
}

.site-title {
    background: lightgrey;
    text-align: center;
    padding: 50px 0;
    color: #204051;
}

.header-navigation {
    background: burlywood;
}

.header-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #204051;
    
  }

.header-navigation ul a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    color: white;
}

.header-navigation ul a:hover{
    background: rgba(196, 196, 196, 70%);
    color: #204051;
}

.header-navigation :active {
    background: lightgrey;
    color: #204051;
}

.has-child {
    position: relative;
}

.has-child .submenu {
    display: none;
    position: absolute;
    background-color: #163342;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.has-child .submenu li {
    width: 100%;
}

.has-child:hover .submenu {
    display: block;
}



/* footer styles 
----------------------------- */
.footer-main {
    padding: 1.2em;
    background: #204051;
    color: whitesmoke;
}

.footer-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.footer-list ul li a {
    text-decoration: none;
    color: #84a9ac;
}

.footer-list ul li a:hover {
    color: white;
}

.footer-list ul li {
    padding: .5em 0;
    font-weight: lighter;
}


.footer-wrapper3 {
    color: #84a9ac;
}

.footer-wrapper4 {
    color: #3b6978;
    text-transform: uppercase;
}

.footer-wrapper4 span {
    font-family: Brush Script Mt;
    font-size: 1.8em;
    text-transform: none;
}

.footer-wrapper4 span:hover {
    color: whitesmoke;
}


.menu-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 200px;
}

/* header and footer styles for larger pages
using flex 
----------------------------- */
@media screen and (min-width: 600px) {
    .header-navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .footer-wrapper-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-wrapper3 {
        flex: 0 1 25%;
    }

    .footer-wrapper4 {
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}


/* general menu styles for all menu's
----------------------------- */
section h3 {
    margin-top: 100px;
    padding-left: 20px;
    color: #3c096c;
}


.menu ul {
    background: #295d79;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.menu ul a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    color: white;
}

.menu ul a:hover {
    background: #4183a7;
    color: #fff;
}


/* Simple menu style using flex
----------------------------- */
.simple-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Advance menu style using flex
------------------------------------ */

.advance-menu ul li a {
    display: flex;
    justify-content: flex-start;
}

.menu-icon {
    flex: 0 0 1.5em;
    font-size: 1.8em;
}

.button-text {
    font-size: 1.8em;
}

.button-text span {
    display: block;
    font-size: 40%;
    font-weight: lighter;
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .advance-menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .advance-menu ul li {
        display: flex;
        flex: 1 0 12em;
    }
}


/* social menu styles
The accesiblity link in the head hides the text
The nav-social link in the head displays the fontawesome icons 
------------------------------------ */
@media screen and (min-width: 600px) {
    .social1 ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .social2 ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

/* multi level menu styles
The accesiblity link in the head hides the toggle text
The nav-multi-level link in the head contains the base styling for the menus
The two scripts below the body contains javascipts code that toggles the menu
--------------------------------------------------- */
@media screen and (min-width: 600px) {
    
	.multi-level-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
	}

	.multi-level-nav li {
        flex: 1 0 auto;
		position: relative;
	}

	.multi-level-nav ul ul li {
        flex: 1 1 auto;
	}

	.multi-level-nav ul .toggled-on {
		display: flex;
    }
    
    .multi-level-nav ul ul {
        background: #163342;
    }
}



/* mixed menu styles
combination of two different menu's
---------------------------------------*/
@media screen and (min-width: 600px) {
    .mixed-menu-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #295d79;
    }
}